<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text"  th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.lastModified != null and question.lastModified != question.createdDate}"
                     class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">(수정됨)</div>
                    <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    <div th:text="${#temporals.format(question.lastModified, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div th:if="${question.lastModified == question.createdDate}" class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}">
                              <div th:text="${question.author.username}"></div>
                        </span>
                        <span th:unless="${question.author != null}">
                              <div th:text="알수없음"></div>
                        </span>
                    <div th:text="${#temporals.format(question.createdDate, 'yyyy/M/d HH:mm')}"></div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/question/likes/${question.id}|}" class="btn btn-sm btn-outline-secondary">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.questionLikes)}"></span>
                </a>
                <a th:href="@{|/question/edit/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/question/delete/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <div th:if="${#lists.isEmpty(question.answerList)}">
        <h7>등록된 답변이 없어요 🤨</h7>
    </div>
    <div th:if="${!#lists.isEmpty(question.answerList)}">
        <h7 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h7>
    </div>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:if="${answer.lastModified != null and answer.lastModified != answer.createdDate}">
                        <div class="mb-2">(수정됨)</div>
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                        <div th:text="${#temporals.format(answer.lastModified, 'M/d HH:mm')}"></div>
                    </div>
                    <div th:if="${answer.lastModified == answer.createdDate}">
                        <div class="mb-2">
                            <span th:if="${answer.author != null}">
                                  <div th:text="${answer.author.username}"></div>
                            </span>
                            <span th:unless="${answer.author != null}">
                                  <div th:text="알수없음"></div>
                            </span>
                            <div th:text="${#temporals.format(answer.createdDate, 'M/d HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/answer/likes/${answer.id}|}" class="btn btn-sm btn-outline-secondary">
                    좋아요
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.answerLikes)}"></span>
                </a>
                <a th:href="@{|/answer/edit/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="@{|/answer/delete/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{formErrors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변 등록" class="btn btn-primary my-2">
    </form>
</div>
</html>
