<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2>질문 게시판</h2>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th style="width:50%">제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${paged}">
            <td th:text="${paged.getTotalElements - (paged.number * paged.size) - loop.index}"></td>
            <td>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.title}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(question.answerList) >= 0}"
                      th:text="@{|${#lists.size(question.answerList)} 개의 답변|}">
                </span>
            </td>
            <td>
                <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                <span th:unless="${question.author != null}" th:text="알수없음"></span>
            </td>
            <td th:text="${#temporals.format(question.createdDate, 'yyyy/M/d HH:mm')}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(paged)}">
            <td colspan="2">등록된 질문이 없어요 🤨</td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paged.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li th:if="${paged.hasPrevious()}"><a class="page-link" th:href="@{|?page=0|}">처음</a></li>
            <li class="page-item" th:classappend="${!paged.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paged.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(paged.number - 2, paged.number + 2)}"
                th:class="${page == paged.number} ? active : ''"
                class="page-item">
                <a th:if="${page >= 0 and page < paged.totalPages}"
                   th:href="@{|?page=${page}|}" th:text="${page}" class="page-link"></a>
            </li>
            <li class="page-item" th:classappend="${!paged.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paged.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
            <li th:if="${paged.hasNext()}"><a class="page-link" th:href="@{|?page=${paged.totalPages - 1}|}">마지막</a></li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>